.section {
	margin-bottom: 50px;
	.content {
		.title {
			margin-bottom: 18px;

			color: #000;
			font-size: 25px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
		.news_list {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 17px;
			.news {
				position: relative;
				overflow: hidden;

				padding: 38px 23px;
				width: 100%;
				max-width: 401.69px;
				height: 181.48px;

				background: #ecedf2;
				border-radius: 11.066px;
				&.active {
					background: #f0f9ff;
				}
				.discount {
					position: relative;
					z-index: 3;
					margin-bottom: 5px;
					color: #000;
					font-size: 24.101px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}
				.text {
					position: relative;
					z-index: 3;
					margin-bottom: 22px;
					color: #000;
					font-size: 14.461px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;

					@media (max-width: 390px) {
						backdrop-filter: blur(4px);
						-webkit-backdrop-filter: blur(4px);
					}
				}
				.button {
					position: relative;
					z-index: 3;
					padding: 8.034px 24.101px;

					display: flex;
					border-radius: 11.066px;
					background: #0063a9;
					border: none;
					outline: none;

					color: #fff;
					font-size: 11.247px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;

					transition: var(--transition);
					cursor: pointer;

					&:hover {
						background: #004679;
					}
				}
				.img {
					position: absolute;
					right: 22px;
					top: 50%;
					transform: translateY(-50%);

					z-index: 2;
				}
				.circle {
					position: absolute;

					width: 110.658px;
					height: 110.658px;

					background: #d7eefe;
					border-radius: 50%;
					&.left {
						left: -15px;
						bottom: -25px;
						z-index: 1;
					}
					&.right {
						right: -15px;
						top: -60px;
						z-index: 2;
					}
				}
			}

			// ? arrows
			.arrows {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);

				width: 100%;
				height: 0;

				display: flex;
				justify-content: center;
				align-items: center;

				.arrow {
					position: absolute;
					padding: 5px;

					background: transparent;
					border: none;
					outline: none;

					cursor: pointer;

					@media (max-width: 1350px) {
						display: none;
					}

					svg {
						width: 40px;
						height: 40px;
					}

					&.left {
						left: -65px;
					}
					&.right {
						right: -65px;
					}
				}
			}
		}
	}
}
