:root {
	--background: #f8faff;
	--card-background: #fff;
	--text-white: #fff;
	--text-black: #000;
	--foreground: #000;
	--transition: all ease 0.3s;
}

// [data-theme="dark"] {
// 	--background: black;
// 	--foreground: white;
// }
